@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

::selection {
    background: #22bbe0;
    color: #000;
}

::-moz-selection {
    background: #22bbe0;
    color: #000;
}